<meta name="description" content="BattleSnake is a multiplayer version of the classic arcade game “Snake”. Participants form teams to create AIs that receive and respond to requests from the game server.">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<!-- Open Graph -->
<meta property="og:title" content="BattleSnake - February 20, 2016" />
<meta property="og:url" content="http://www.battlesnake.io" />
<meta property="og:image" content="http://www.battlesnake.io/static/img/og-image.png"/>
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="314" />

<link rel="icon" type="image/png" href="/static/img/favicon.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/dist/css/app.css">
