body {
    background: #221E1D url('/static/img/bg-battlesnake-dark.jpg') top center no-repeat;
    background-size: cover;
    color: #ddd;
    font-size: 16px;
}

canvas {
    margin: auto;
    display: block;
}

form {
    max-width: 500px;
    margin: auto;
}

form .input-group {
    margin-bottom: 20px;
}

form .input-group,
form .btn {
    width: 100%;
}

p {
    color: #999;
}

a {
    color: #aaa;
}

a:hover {
    color: #ccc;
}

.navbar {
    border-radius: 0;
}

.navbar .navbar-brand img {
    height: 37px;
    margin-top: -10px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0;
}

.site-links {
    float: right;
    padding: 0;
}

.btn:hover {
    top: 0;
}


/** HELPERS **/

.float-right {
    float: right;
}

.stretch {
    width: 100%;
}


/** MEDIA QUERIES **/

@media (max-width: 767px) {
    .sidebar {
        margin-top: 20px;
    }

    .site-links {
        float: none;
        padding: 0 15px;
    }
}
