body {
    font-family: 'Orbitron', sans-serif; font-weight: 400; font-size: 16px;
    background: #333;
    color: #ddd;
}

canvas {
    margin: auto;
    display: block;
}

a {
    color: #aaa;
}

a:hover {
    color: #ccc;
}

.navbar {
    border-radius: 0;
}

.float-right {
    float: right;
}

.site-links {
    float: right;
    padding: 0;
}

/** MEDIA QUERIES **/

@media (max-width: 767px) {
    .sidebar {
        margin-top: 20px;
    }

    .site-links {
        float: none;
        padding: 0 15px;
    }
}
