body {
    background: #221E1D url('/static/img/bg-battlesnake-dark.jpg') top center no-repeat;
    background-size: cover;
    color: #ddd;
    font-size: 16px;
}

canvas {
    margin: auto;
    display: block;
}

form {
    max-width: 500px;
    margin: auto;
}

form .input-group {
    margin-bottom: 20px;
}

form .input-group,
form .btn {
    width: 100%;
}

p {
    color: #999;
}

a {
    color: #aaa;
}

a:hover {
    color: #ccc;
}

.navbar {
    border-radius: 0;
}

.navbar .navbar-brand img {
    height: 37px;
    margin-top: -10px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0;
}

.site-links {
    float: right;
    padding: 0;
}

.btn{
	border: none;
	border-radius: 0;
}

.btn:focus,
.btn:active {
    outline: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn.btn-success{
	background: #F8F568;
	color: #000;
}
.btn.btn-info {
	background-color: #9e0000;
	color: #fff;
}

.btn.btn-success:hover{
	background-color: #C7C308;
}
.btn.btn-success:active{
	background-color: #ABA700;
}
.btn.btn-info:hover{
	background-color: #890000;
	color: #ccc;
}
.btn.btn-info:active{
	background-color: #720000;
	color: #aaa;
}
.btn.btn-lg{
	text-transform: uppercase;
	font-weight: bold;
	margin-top:20px;
	font-size:24px;
	padding: 16px 32px;
}

.btn:hover{
	cursor:pointer;
	top:3px;
    -moz-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}
.btn:active{
    -moz-transition: all 0s ease-in;
    -webkit-transition: all 0s ease-in;
    -o-transition: all 0s ease-in;
    transition: all 0s ease-in;
}

.btn:hover {
    top: 0;
}


/** HELPERS **/

.float-right {
    float: right;
}

.stretch {
    width: 100%;
}


/** MEDIA QUERIES **/

@media (max-width: 767px) {
    .sidebar {
        margin-top: 20px;
    }

    .site-links {
        float: none;
        padding: 0 15px;
    }
}
