<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake - Register a Team</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-register">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="/static/img/logo-bs.png" width="400px">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-push-4">
          <div class="row text-center">
            <h3>{% include "partials/gold_coin_gif.html" %} Team Registration {% include "partials/gold_coin_gif.html" %}</h3>
          </div>

          <div class="row">
            {% include "partials/flashed_messages.html" %}
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <form method="post">
                {{ form.hidden_tag() }}
                <input type="hidden" name="next" value="{{ request.args.next }}">
                <fieldset class="row">
                  <div class="form-group {% if form.teamname.errors %}has-error{% endif %}">
                    <label for="teamname" class="control-label">Team Name (can change later)</label>
                    {{ form.teamname(class="form-control", placeholder="The Can't-Acondas") }}
                    {% for error in form.teamname.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    <label for="email" class="control-label">Primary Email Address</label>
                    {{ form.email(class="form-control", placeholder="email@domain.com") }}
                    {% for error in form.email.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                    <label for="password" class="control-label">Team Password</label>
                    {{ form.password(class="form-control", placeholder="**************") }}
                    {% for error in form.password.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group {% if form.game_mode.errors %}has-error{% endif %}">
                    <label for="game_mode" class="control-label">Tournament Division</label>
                    {% for option in form.game_mode %}
                    <div class="radio">
                      <label>
                        {{ option }}
                        {{ option.label.text }}
                      </label>
                    </div>
                    {% endfor %}
                    {% for error in form.game_mode.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group text-center {% if form.csrf_token.errors %}has-error{% endif %}">
                    <button type="submit" class="btn btn-primary btn-block text-bold">Register</button>
                    {% for error in form.csrf_token.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "partials/app_foot.html" %}
  </body>
</html>
