<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-team">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <table class="table">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>URL</th>
                          <th>Public?</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for team in teams %}
                          <tr>
                              <td>{{ team.id }}</td>
                              <td>{{ team.teamname }}</td>
                              <td>{{ team.snake_url }}</td>
                              <td>{{ team.is_public }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
    </div>

    {% include "partials/app_foot.html" %}
  </body>
</html>
