<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-team">
    <div class="container">
      <div class="row text-right">
        <br />
        <a href="/admin/teams?format=csv" class="btn btn-default">Export CSV</a>
        <a href="/admin/register" class="btn btn-default">Register team</a>
        <br />
        <br />
      </div>
      <div class="row">
          <div class="col-md-12">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Team ID</th>
                          <th>Team Name</th>
                          <th>URL</th>
                          <th>Game Mode</th>
                          <th>Type</th>
                          <th>Public?</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for team in teams %}
                          <tr>
                              <td><a href="/admin/teams/{{ team.id }}">{{ team.id }}<a></td>
                              <td>{{ team.teamname }}</td>
                              <td>{{ team.snake_url }}</td>
                              <td>{{ team.game_mode|capitalize }}</td>
                              <td>{{ team.type|capitalize }}</td>
                              <td>{{ team.is_public|capitalize }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
    </div>

    {% include "partials/app_foot.html" %}
  </body>
</html>
