<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-play">
    <div id="root">Loading BattleSnake...</div>

    {% include "partials/app_foot.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"></script>
    <script>
      $(document).ready(function () {
        /**
         * Setup the AJAX stuff up front
         */
        $.ajaxSetup({
          contentType: 'application/json',
          dataType: 'json'
        })

        /**
         * window.location.origin hack
         */
        if (!window.location.origin) {
          window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
        }
      })
    </script>
    <script src="/static/dist/js/app.js"></script>
  </body>
</html>
