<!doctype html>
<html lang="en">
    <head>
          <meta charset="utf-8">
          <title>Code of Conduct | BattleSnake</title>
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1>BattleSnake 2016 Code of Conduct</h1>
                    <h3>Be friendly and patient.</h3>
                    <p>
                        <strong>Be welcoming.</strong>
                        We strive to be a community that welcomes and supports
                        people of all backgrounds and identities. This includes, but is not limited to
                        members of any race, ethnicity, culture, national origin, colour,
                        immigration status, social and economic class, educational level, sex, sexual
                        orientation, gender identity and expression, age, size, family status,
                        political belief, religion, and mental and physical ability.
                    </p>
                    <p>
                        <strong>Be considerate.</strong>
                        Your work will be used by other people, and you in turn
                        will depend on the work of others. Any decision you take will affect users
                        and participants, and you should take those consequences into account when
                        making decisions. Remember we are trying to build a fun competition and that means working and helping individuals from other
                        countries and cultures.
                    </p>
                    <p>
                        <strong>Be respectful.</strong>
                        Not all of us will agree all the time, but disagreement is no
                        excuse for poor behavior and  poor manners. We might all experience some
                        frustration now and then, but we cannot allow that frustration to turn into a
                        personal attack. It's important to remember that a community where
                        people feel uncomfortable or threatened is not a productive one. Attendees
                        should be respectful when working with each other and with anyone
                        within the event.
                    </p>
                    <p>
                        <strong>Be careful in the words that you choose.</strong>
                        We are a community of
                        students and professionals, and we conduct ourselves professionally. Be kind to others.
                        Do not insult or put down other participants. Harassment and other
                        exclusionary behavior aren't acceptable. This includes, but is not limited to:
                    </p>
                    <ul>
                        <li>Violent threats or language directed against another person.</li>
                        <li>Discriminatory jokes and language.</li>
                        <li>Posting sexually explicit or violent material.</li>
                        <li>Personal insults, especially those using racist or sexist terms.</li>
                        <li>Unwelcome sexual attention.</li>
                        <li>Advocating for, or encouraging, any of the above behavior.</li>
                        <li>Repeated harassment of others. In general, if someone asks you to stop, then stop.</li>
                    </ul>
                    <p>
                        <strong>When we disagree, try to understand why.</strong>.
                        Disagreements, both
                        social and technical, happen all the time and BattleSnake is no exception. It
                        is important that we resolve disagreements and differing views
                        constructively. Remember that we're different. Different people have
                        different perspectives on issues. Being unable to understand why someone
                        holds a viewpoint doesn't mean that they're wrong. Don't forget that it is
                        human to err and blaming each other doesn't get us anywhere. Instead,
                        focus on helping to resolve issues and learning from mistakes.
                    </p>
                    <p>
                        <strong>Sendwithus holds the right to expel any persons from the event that we feel is in opposition to this code of conduct.</strong>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
