<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BattleSnake</title>

    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <meta name="description" content="BattleSnake is a multiplayer version of the classic arcade game “Snake”. Participants form teams to create AIs that receive and respond to requests from the game server.">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- Open Graph -->
    <meta property="og:title" content="BattleSnake- February 20, 2016" />
    <meta property="og:url" content="http://www.battlesnake.io" />
    <meta property="og:image" content="http://www.battlesnake.io/static/img/og-image.png"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="314" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" href="/static/dist/css/landing.css">
  </head>

  <body>
    <section class="blue" data-stellar-background-ratio="0.5">

      <div class="col-md-12 container">
        <img class="logo" src="/static/img/logo-bs.png" width="700px">
      </div>

      <div id="sticky-anchor"></div>
      <div id="sticky-fix"></div>

      <div id="top-bar">
        <div class="cta-holder">
          <a href="https://sendwithus.wufoo.com/forms/battlesnake-2016-registration/" class="cta">Register Now</a>
          <div class="free">
            And get a <b>FREE</b> t-shirt
            <br>
            <span class="sub">* while supplies last</span>
          </div>
        </div>
      </div>

      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">February 20, 2016<img src="/static/img/img-coin.gif"></h3>

        <p style="font-size:20px;text-align:center">
            University of Victoria <a href="http://www.uvic.ca/home/about/campus-info/maps/maps/ecs.php" target="_blank">ECS Building</a>, First Floor
        </p>
      </div>

      <div class="row"><center><img src="/static/img/icon-snake-r.png" width="250px"></center></div>

      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">What is BattleSnake?<img src="/static/img/img-coin.gif"></h3>
        <div class="row">
          <div class="col-md-4">
            <img src="/static/img/snake-game.png">
          </div>
          <div class="col-md-8">
            <p>BattleSnake is a programming competition held in Victoria, BC. Teams of students
                and developers build web-based AIs for the classic arcade game "Snake".</p>

            <p>Multiple teams will compete on the same board at the same time,
            and the winner will be the last team slithering!</p>

            <p>There will be over $2,500
            in prizes given away throughout the day, across two tournament brackets.
            The Beginner Bracket will feature basic gameplay mechanics and have a grand prize of $300. The new Advanced Bracket will offer new gameplay mechanics
            and a $1,000 grand prize.</p>

            <p>
                <a href="https://sendwithus.wufoo.com/forms/battlesnake-2016-registration/">
                Register early to get a limited edition BattleSnake 2016 T-Shirt!
                </a>
            </p>
          </div>
        </div>

      </div>

      <div class="row"><center>
          <br><br><br>
          <a href="https://sendwithus.wufoo.com/forms/battlesnake-2016-registration/">
              <img src="/static/img/snake-shirt.png" width="250px">
          </a>
      </center></div>

      <div class="col-md-12 container">
          <h3><img src="/static/img/img-coin.gif">Who Should Attend?<img src="/static/img/img-coin.gif"></h3>
          <div class="row">

            <div class="col-md-10 col-md-offset-1">
            <p>
                BattleSnake exists to get students and developers programming outside of coding assignments and work projects. This competition will test your creativity
                and programming skills, while allowing you to compete for huge prizes.
                BattleSnake was also created to connect students with
                local developers and build the technical community in Victoria.
            </p>
            <p>BattleSnake is for students and developers of all skill levels. Participants include: students from University of Victoria, Camosun College, Royal Roads University, Vancouver Island University, as well as development teams who want to test their
                AI programming skills.</p>
          </div>

        </div>
      </div>

      <div class="row"><center><img src="/static/img/snake-three.png" width="250px"></center></div>

      <div class="col-md-12 container">
          <h3><img src="/static/img/img-coin.gif">Prizes and Awards!<img src="/static/img/img-coin.gif"></h3>
          <div class="row">

            <div class="col-md-10 col-md-offset-1">
            <p>This year we're introducing two tournament brackets: a Beginner Bracket for novice programmers and first time attendees, and an Advanced Bracket for experienced programmers and BattleSnake veterans. The Advanced Bracket will contain
            new and challenging gameplay mechanics and award larger prizes than ever before.</p>

            <div class="row">

                <div class="col-md-6">
                    <p style="text-decoration:underline;text-align:center;font-size:28px">
                        Beginner Bracket
                    <p>
                    <p style="text-align:center">
                        <b>Grand Prize</b>
                        <br><span style="color:#FCBE42">$300</span>
                    </p>
                    <p style="text-align:center">
                        <b>Second Place</b>
                        <br><span style="color:#FCBE42">$200</span>
                    </p>
                    <p style="text-align:center">
                        <b>Third Place</b>
                        <br><span style="color:#FCBE42">$100</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p style="text-decoration:underline;text-align:center;font-size:28px">
                        Advanced Bracket
                    <p>
                    <p style="text-align:center">
                        <b>Grand Prize</b>
                        <br><span style="color:#FCBE42">$1,000</span>
                    </p>
                    <p style="text-align:center">
                        <b>Second Place</b>
                        <br><span style="color:#FCBE42">$600</span>
                    </p>
                    <p style="text-align:center">
                        <b>Third Place</b>
                        <br><span style="color:#FCBE42">$300</span>
                    </p>
                </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 container">
          <h3><img src="/static/img/img-coin.gif">Bounty Snakes<img src="/static/img/img-coin.gif"></h3>
          <div class="row">

            <div class="col-md-10 col-md-offset-1">
            <p>
                Another new challenge this year will be Bounty Snakes. Bounty Snakes will provide additional opportunities to win
                prizes throughout the day. These challenging Snake AIs are created by tech companies and sponsors, and will
                not go down easy.
            </p>
            <p>
                Defeat the Bounty Snake, collect its prize. Each Bounty Snake will have different rules for defeat, details will
                be announced during Orientation.
            </p>
          </div>

        </div>
      </div>

      <div class="row"><center><img src="/static/img/snake-bounty.png" width="250px"></center></div>

      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">Other Details<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-10 col-md-offset-1 content">
            <p>
                <p>If you have any food allergies or
                    dietary rectrictions, please email <a href="mailto:battlesnake@sendwithus.com">battlesnake@sendwithus.com</a>
                and we will do our best to accomodate your needs.</p>
            </p>
        </div>
      </div>


      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">Coming Prepared<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-10 col-md-offset-1 content">
          <p>This competition is for programmers of all skill levels, including novice! Teams typically consist of 2-5 people but individuals are welcome to sign up and compete solo!
          If you're looking for a team to join, we'll do our best accomodate everyone at registration during the event.</p>

          <p>Bring your own laptop, and please come prepared with Github and Heroku accounts already set up!
              Please read the <a href="http://www.battlesnake.io/readme" target="_blank">BattleSnake README</a>
              for all preparation instructions. Make sure your team arrives prepared!</p>
          </div>
        </div>

        <div class="col-md-12 container">
          <h3><img src="/static/img/img-coin.gif">Tutorial Session<img src="/static/img/img-coin.gif"></h3>
          <div class="col-md-10 col-md-offset-1 content">

          <p>There will be an optional tutorial session the morning of the event.
              All registered participants are invited to join and get help setting up their development environment before the
              competition begins. This tutorial is made possible by the kind folks at Heroku.</p>
        </div>
      </div>

      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">Code Review Corner<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-10 col-md-offset-1 content">
          <p>Throughout the day there will be a designated area with volunteer developers available to answer any programming
              or debugging questions you may have. There will also be developer volunteers
              roaming around to assist teams.
          </p>
        </div>
      </div>

      <div class="row"><center><img src="/static/img/icon-snake-r.png" width="250px"></center></div>

      <div class="col-md-12 container schedule">
        <h3><img src="/static/img/img-coin.gif">Schedule<img src="/static/img/img-coin.gif"></h3>
        <div class="row">
          <div class="col-md-3">
            <h4>10:00 AM</h4>
            <p><b>BattleSnake Tutorial (Optional)</b>
                <br>ECS, Lobby
            </p>
          </div>
          <div class="col-md-3">
            <h4>11:00 AM</h4>
            <p><b>Team Registration</b>
            <br>ECS, Lobby</p>
          </div>
          <div class="col-md-3">
            <h4>11:30 AM</h4>
            <p><b>Orientation</b> <br> ECS 123
            <br>Prizes, Game Rules, <br> API Docs, etc</p>
          </div>
          <div class="col-md-3">
            <h4>12:00 PM</h4>
            <p><b>Hacking Begins</b>
            <br>Throughout ECS</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>12:30 PM</h4>
            <p><b>Lunch</b>
            <br>ECS Lobby</p>
          </div>
          <div class="col-md-3">
            <h4>5:00 PM</h4>
            <p><b>Dinner</b>
            <br>ECS Lobby</p>
          </div>
          <div class="col-md-3">
            <h4>6:00 PM</h4>
            <p><b>Let the Battle Begin!</b> <br> ECS 123</p>
          </div>
          <div class="col-md-3">
            <h4>7:30 PM</h4>
            <p><b>Prizes &amp; Awards</b>
            <br>Tournament and Bounty Snake Prizes Awarded!</p>
          </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  After the event, volunteers, sponsors, and members of the Sendwithus team will
                  host a meet 'n greet at Felicita's. <br> Feel free to come hang out and chat BattleSnake!
              </div>
          </div>
        </div>


      <div class="col-md-12 container sponsors">
        <h3><img src="/static/img/img-coin.gif">Sponsors<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-12 content">

            <h4>BattleSnake 2016 is Powered by Heroku</h4>
            <div class="col-md-8 col-md-offset-2 logo-holder">
              <div class="col-sm-12 logo">
                <a target="_blank" href="http://www.heroku.com">
                  <img class="logo-large" src="/static/img/logos/logo-heroku.png">
                </a>
              </div>
            </div>

           <h4 class="gold">Unicorn Sponsors</h4>
           <div class="col-md-8 col-md-offset-2 logo-holder">
             <div class="col-sm-12 logo">
               <a target="_blank" href="http://www.sendwithus.com">
                 <img class="logo-large" src="/static/img/logos/logo-swu.png">
               </a>
             </div>
             <div class="col-sm-12 logo">
               <a target="_blank" href="http://www.beanstream.com/home/">
                 <img class="logo-large" src="/static/img/logos/logo-beanstream.png">
               </a>
             </div>
             <div class="col-sm-12 logo">
               <a target="_blank" href="https://leanpub.com/">
                 <img class="logo-large" src="/static/img/logos/logo-leanpub.png">
               </a>
             </div>
             <div class="col-sm-12 logo">
               <a target="_blank" href="https://www.csc.uvic.ca/">
                 <img class="logo-large" src="/static/img/logos/logo-uvic.png">
               </a>
             </div>
           </div>
         </div>
           <h4>Other Amazing Sponsors</h4>
           <div class="row">
             <div class="col-xs-4 logo">
               <a target="_blank" href="http://www.workday.com/">
                 <img class="logo-small" src="/static/img/logos/logo-wday.png">
               </a>
             </div>

             <div class="col-xs-4 logo">
               <a target="_blank" href="https://www.checkfront.com/">
                 <img class="logo-small" src="/static/img/logos/logo-checkfront.png">
               </a>
             </div>

             <div class="col-xs-4 logo">
               <a target="_blank" href="https://www.giftbit.com/">
                 <img class="logo-small" src="/static/img/logos/logo-giftbit.png">
               </a>
             </div>
           </div>

           <div class="row">
             <div class="col-xs-offset-3 col-xs-9">
               <div class="col-xs-offset-2 col-xs-4 logo">
                 <a target="_blank" href="https://www.stocksy.com">
                   <img class="logo-small" src="/static/img/logos/logo-stocksy.png">
                 </a>
               </div>
             </div>
           </div>

         </div>

      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">Thank you<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-10 col-md-offset-1 content">
          <p>A special thank you to the University of Victoria Technology Integrated Learning, Co-op, and University Systems Teams for providing dedicated WiFi for the event.</p>
        </div>
      </div>

      <div class="row"><center><img src="/static/img/icon-snake-r.png" width="250px"></center></div>


      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">Free T-Shirt<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-10 col-md-offset-1 content">
          <p style="text-align:center">
              <a href="https://sendwithus.wufoo.com/forms/battlesnake-2016-registration/">Register now </a>
              and get a limited edition BattleSnake 2016 t-shirt!
              <br>Supplies won't last long.
          </p>
        </div>
      </div>
      <div class="row"><center>
          <a href="https://sendwithus.wufoo.com/forms/battlesnake-2016-registration/">
              <img src="/static/img/snake-shirt.png" width="250px">
          </a>
      </center></div>

      <div class="col-md-12 container">
        <h3><img src="/static/img/img-coin.gif">Questions? Feedback?<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-10 col-md-offset-1 content">
            <p style="text-align:center">
                We'd love to help and answer any questions you may have. Please email us at
                <a href="mailto:battlesnake@sendwithus.com">battlesnake@sendwithus.com</a> and we'll respond ASAP.
            </p>
        </div>
      </div>

      <div class="footer">
        <p>
          <center>
            <a href="http://www.sendwithus.com">&copy; 2016, Techdrop Labs Inc.</a>
          </center>
        </p>
      </div>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
    <script>
      $(function() {
        $.stellar({
          horizontalScrolling: false,
          verticalOffset: 0,
        });
      });
      //STICKY TABS
      function sticky_relocate() {
          var window_top = $(window).scrollTop();
          var div_top = $('#sticky-anchor').offset().top;
          if (window_top > div_top) {
              $('#top-bar').addClass('sticky');
              $('#sticky-fix').addClass('active');
          } else {
              $('#top-bar').removeClass('sticky');
              $('#sticky-fix').removeClass('active');
          }
      }

      $(function () {
          $(window).scroll(sticky_relocate);
          sticky_relocate();
      });
    </script>

  </body>
</html>
