<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BattleSnake</title>

    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <meta name="description" content="BattleSnake is a multiplayer version of the classic arcade game “Snake”. Participants form teams to create AIs that receive and respond to requests from the game server.">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- Open Graph -->
    <meta property="og:title" content="BattleSnake - February 20, 2016" />
    <meta property="og:url" content="http://www.battlesnake.io" />
    <meta property="og:image" content="http://www.battlesnake.io/static/img/og-image.png"/>
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="314" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" href="/static/dist/css/landing.css">

    <style type="text/css">
     /* I'm so sorry -- Dylan */
     .row-centered {
         text-align:center;
     }
     .col-centered {
         display:inline-block;
         float:none;
         text-align:left;
         margin-right:-4px;
     }
    </style>
  </head>

  <body>
    <section class="blue" data-stellar-background-ratio="0.5">

      <div class="col-md-12 container text-center">
        <img class="logo" src="/static/img/logo-bs.png" width="700px">
      </div>

      <div id="sticky-anchor"></div>
      <div id="sticky-fix"></div>

      <div id="top-bar">
        <div class="cta-holder">
          <a href="/login" class="cta">Team Login</a>
          <div class="free">
            Need a team?
            <br>
            <span class="sub">Visit the registration desk.</span>
          </div>
        </div>
      </div>

      <div class="col-md-12 container">
        <h3 class="text-center"><img src="/static/img/img-coin.gif">March 2017<img src="/static/img/img-coin.gif"></h3>
      </div>

      <div class="row"><center><img src="/static/img/icon-snake-r.png" width="250px"></center></div>

      <div class="col-md-12 container">
        <h3 class="text-center"><img src="/static/img/img-coin.gif">What is BattleSnake?<img src="/static/img/img-coin.gif"></h3>
        <div class="row">
          <div class="col-md-4">
            <img src="/static/img/snake-game.png">
          </div>
          <div class="col-md-8">
            <p>BattleSnake is a programming competition held at the Victoria Conference Centre in Victoria, BC. Teams of students
                and developers build web-based AIs for the classic arcade game "Snake".</p>

            <p>Multiple teams will compete on the same board at the same time,
            and the winner will be the last team slithering!</p>

            <p>There will be over $2,500
            in prizes given away throughout the day, across two tournament divisions.
            The Classic Division will feature familiar gameplay mechanics and have a grand prize of $300. The new Advanced Division will offer new gameplay mechanics
            and a $1,000 grand prize.</p>

          </div>
        </div>

      </div>

      <div class="row"><center>
          <br><br><br>
          <a href="/login">
              <img src="/static/img/snake-shirt.png" width="250px">
          </a>
      </center></div>

      <div class="col-md-12 container">
          <h3 class="text-center"><img src="/static/img/img-coin.gif">Who Should Attend?<img src="/static/img/img-coin.gif"></h3>
          <div class="row">

            <div class="col-md-10 col-md-offset-1">
            <p>
                BattleSnake exists to get students and developers programming outside of coding assignments and work projects. This competition will test your creativity
                and programming skills, while allowing you to compete for huge prizes.
                BattleSnake was also created to connect students with
                local developers and build the technical community in Victoria.
            </p>
            <p>BattleSnake is for students and developers of all skill levels. Participants include: students from University of Victoria, Camosun College, Royal Roads University, Vancouver Island University, as well as development teams who want to test their
                AI programming skills.</p>
          </div>

        </div>
      </div>

      <div class="col-md-12 container">
        <h3 class="text-center"><img src="/static/img/img-coin.gif">Questions? Feedback?<img src="/static/img/img-coin.gif"></h3>
        <div class="col-md-10 col-md-offset-1 content">
            <p class="text-center">
                We'd love to help and answer any questions you may have. Email us at
                <a href="mailto:battlesnake@sendwithus.com">battlesnake@sendwithus.com</a> and we'll respond ASAP.
            </p>
        </div>
      </div>

      <div class="footer">
        <p>
          <center>
            <a href="http://www.sendwithus.com">&copy; 2016, Techdrop Labs Inc.</a>
          </center>
        </p>
      </div>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
    <script>
      //STICKY TABS
      function sticky_relocate() {
          var window_top = $(window).scrollTop();
          var div_top = $('#sticky-anchor').offset().top;
          if (window_top > div_top) {
              $('#top-bar').addClass('sticky');
              $('#sticky-fix').addClass('active');
          } else {
              $('#top-bar').removeClass('sticky');
              $('#sticky-fix').removeClass('active');
          }
      }

      $(function () {
          $(window).scroll(sticky_relocate);
          sticky_relocate();

          $.stellar({
            horizontalScrolling: false,
            verticalOffset: 0,
          });
      });
    </script>

  </body>
</html>
