<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-team">
    <div class="container">
      <div class="row">
        <br />
        <br />
        {% if is_admin %}
          <a href="/admin/teams" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to Teams</a>
        {% else %}
          <a href="/app/" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to Games</a>
        {% endif %}

        {% if is_admin %}
            <p class="pull-right">ADMIN MODE</p>
        {% endif %}
      </div>
      <div class="row text-center">
        <h1 class="page-title">{% include "partials/gold_coin_gif.html" %} Team: {{ team.teamname }} {% include "partials/gold_coin_gif.html" %}</h1>
      </div>

      <div class="row">
        {% include "partials/flashed_messages.html" %}
      </div>
      <br>
      <div class="row">
        <div class="col-sm-5">
          <form method="post">
            {{ form.hidden_tag() }}
            <fieldset class="row">
              <div class="form-group {% if form.teamname.errors %}has-error{% endif %}">
                <label for="teamname" class="control-label">Snake Name</label>
                {{ form.teamname(class="form-control", placeholder="The Can't-Acondas") }}
                {% for error in form.teamname.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form-group {% if form.snake_url.errors %}has-error{% endif %}">
                <label for="snake_url" class="control-label">Snake URL</label>
                {{ form.snake_url(class="form-control", placeholder="http://") }}
                {% for error in form.snake_url.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                <label for="password" class="control-label">Change Password</label>
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form-group {% if form.add_member.errors %}has-error{% endif %}">
                <label for="add_member" class="control-label">Add Team Member</label>
                {{ form.add_member(class="form-control", placeholder="member@domain.com") }}
                {% for error in form.add_member.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              {% if is_admin %}
              <div class="form-group {% if form.type.errors %}has-error{% endif %}">
                <label for="type" class="control-label">Team Type</label> <br>
                <select name="type">
                  {% for option in form.type %}
                    {{ option }}
                  {% endfor %}
                </select>
                {% for error in form.type.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              {% endif %}
              <div class="form-group {% if form.game_mode.errors %}has-error{% endif %}">
                <label for="game_mode" class="control-label">Division</label> <br>
                <select name="game_mode">
                  {% for option in form.game_mode %}
                    {{ option }}
                  {% endfor %}
                </select>
                {% for error in form.game_mode.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form-group {% if form.is_public.errors %}has-error{% endif %}">
                <label for="is_public" class="control-label">
                    {{ form.is_public() }}
                    Make snake public?
                </label>
                <p><em>(public snakes can be added to games created by other teams)</em></p>
              </div>
              <div class="form-group {% if form.csrf_token.errors %}has-error{% endif %}">
                <button type="submit" class="btn btn-block btn-primary text-bold">Update Team</button>
                {% for error in form.csrf_token.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <div class="row">
            <h3>Snake ID</h3>
            <p class="text-bold"><code>{{ team.id }}</code></p>
          </div>
          <div class="row">
            <h3>Snake URL</h3>
            <p>{{ team.snake_url }}</p>
            {% if team.snake_url %}
            <p>
              <a class="text-bold btn btn-primary btn-xs"
                {% if is_admin %}
                    href="/admin/test?url={{ team.snake_url }}"
                {% else %}
                    href="/test"
                {% endif %}>
                    Run Snake Test
              </a>
            </p>
            {% endif %}
          </div>
          <div class="row">
            <h3>Team Members</h3>
            <ul>
              {% for email in team.member_emails %}
              <li>
                {{ email }}
                {% if team.member_emails|length > 1 %}
                  <form style="display: inline-block" method="post"
                      {% if is_admin %}
                          action="/admin/teams/{{ team.id }}/remove"
                      {% else %}
                          action="/team/remove"
                      {% endif %}>
                    <input type="hidden" name="email" value="{{ email }}"/>
                    <button type="submit" class="btn btn-xs btn-warning">&#10005;</button>
                  </form>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="row">
            <h3>Delete team</h3>
            <p>You probably don't want to do this</p>
            <button type="button" class="btn btn-warning text-bold" data-toggle="modal" data-target="#deleteConfirmModal">
              Delete team
            </button>

            <div id="deleteConfirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-body">
                    Are you really, really, unreasonably sure you want to delete your team?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Heck no</button>
                    <form style="display: inline-block" method="post"
                          {% if is_admin %}
                              action="/admin/teams/{{ team.id }}/delete"
                          {% else %}
                              action="/team/delete"
                          {% endif %}>
                      <button id="deleteConfirm" type="submit"  class="btn btn-warning">Yes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if test_results %}
          <div class="row">
            <h3>Snake Test Results</h3>
            <ul>
                <li>INFO: {{ test_results.whois }}</li>
                <li>START: {{ test_results.start }}</li>
                <li>MOVE: {{ test_results.move }}</li>
                <li>END: {{ test_results.end }}</li>
            </ul>

          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% include "partials/app_foot.html" %}
  </body>
</html>
