<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Update Team</title>
</head>
<body>

{% include "partials/flashed_messages.html" %}

<h1>Test Snake: {{ team.snake_url }}</h1>

<h3>snake.whois</h3>
<p>
    Error: {{ results.whois.error }}<br>
    Data: {{ results.whois.data }}</pre>
</p>

<h3>snake.start</h3>
<p>
    Error: {{ results.start.error }}<br>
    Data: {{ results.start.data }}</pre>
</p>

<h3>snake.move</h3>
<p>
    Error: {{ results.move.error }}<br>
    Data: {{ results.move.data }}</pre>
</p>

<h3>snake.end</h3>
<p>
    Error: {{ results.end.error }}<br>
    Data: {{ results.end.data }}</pre>
</p>



</body>
</html>
