<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-team">
    <div class="container">
      <div class="row">
        <br />
        <br />
        <a href="/app/" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to Games</a>

        {% if is_admin %}
            <p class="pull-right">ADMIN MODE</p>
        {% endif %}
      </div>

      <div class="row text-center">
        <h1 class="page-title">{% include "partials/gold_coin_gif.html" %} Test Snake {% include "partials/gold_coin_gif.html" %}</h1>
      </div>

      <div class="row">
        {% include "partials/flashed_messages.html" %}
      </div>
      <br>
      <div class="row">

          <h2>
              <img src="{{ results.info.data.head|default("") }}" style="width: 50px">
              {{ snake_url }}
              <a href="javascript:window.location.href=window.location.href"
                class="btn btn-primary pull-right">Run Again</a>
          </h2>
          {% for command_name, response in [
                ('GET /', results.info),
                ('POST /start', results.start),
                ('POST /move', results.move),
                ('POST /end', results.end)]%}
              <h3>{{ command_name }}</h3>
              {% if response.error %}
                <p class="alert alert-block alert-danger">{{ response.error }}</p>
              {% else %}
<pre>{
{% for key, value in response.data.items() %}    "{{ key }}": "{{ value }}",
{% endfor %}}</pre>
              {% endif %}
          {% endfor %}
      </div>
    </div>

    {% include "partials/app_foot.html" %}
  </body>
</html>
