<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake - Login</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-login">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="/static/img/logo-bs.png" width="400px">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-push-4">
          <div class="row text-center">
            <h3>{% include "partials/gold_coin_gif.html" %} Team Login {% include "partials/gold_coin_gif.html" %}</h3>
          </div>

          <div class="row">
            {% include "partials/flashed_messages.html" %}
          </div>

          <div class="row">
            <div class="col-sm-12">
              <form method="post">
                {{ form.hidden_tag() }}
                <input type="hidden" name="next" value="{{ request.args.next }}">
                <fieldset class="row">
                  <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    <label for="email" class="control-label">Email</label>
                    {{ form.email(class="form-control", placeholder="email@domain.com") }}
                    {% for error in form.email.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                    <label for="password" class="control-label">Password</label>
                    {{ form.password(class="form-control", placeholder="**************") }}
                    {% for error in form.password.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block text-bold">Start Playing!</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "partials/app_foot.html" %}
  </body>
</html>
