<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BattleSnake - Register a Team</title>
    {% include "partials/app_head.html" %}
  </head>
  <body class="page-register">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="/static/img/logo-bs.png" width="400px">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-push-4">
          <div class="row text-center">
            <h3>{% include "partials/gold_coin_gif.html" %} Register a Team {% include "partials/gold_coin_gif.html" %}</h3>
          </div>

          <div class="row">
            {% include "partials/flashed_messages.html" %}
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <form method="post">
                <input type="hidden" name="next" value="{{ request.args.next }}">
                <fieldset class="row">
                  <div class="form-group">
                    <label for="teamname" class="control-label">Team Name:</label>
                    <input type="text" id="teamname" class="form-control" name="teamname" placeholder="The Can't-acondas">
                  </div>
                  <div class="form-group">
                    <label for="password" class="control-label">Password:</label>
                    <input type="password" id="password" class="form-control" name="password" placeholder="******">
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block text-bold">Register</button>
                    <br>
                    <p class="text-center">
                      If you already have a team, directly <a href="{{ url_for('login') }}" class="text-yellow">Log In</a>
                    </p>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
